
/* common style */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
}
.btn{
    text-decoration: none;
    color: #FFFFFF;
    background-color:  #E02C6D;
}

/* header style */
header{
    background-color: #2D25A0;
    display: flex;
   
}
.header-txt{
    width: 50%;
    margin-top: 157px;
    margin-left: 156PX;
}
.header-txt h1{
    font-size: 64px;
    line-height: 80px;
    font-weight: 700;
    color:#FFFFFF ;
    width: 485px;
    height: 230px;
}
.header-txt{
    
}
.header-txt a{
    font-size: 24px;
    padding: 10px 24px;
    display: flex;
    width: 168px;
    height: 44px;
}
.fa-arrow-right{
    margin-top: 5px;
    margin-left: 10px;
}
.header-img{
    width: 50%;
}
header img{
    width: 556px;
    height: 438px;
    margin-top: 100px;
    margin-bottom: 86px;
    margin-right: 140px;
}

/* player section */
.player-section{
    width: 1000px;
    margin-left: 180px;
    margin-top: 70px;
    margin-bottom: 100px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.player{
    width: 330px;
    height: 474px;
    background-color: #FFFFFF;;
    
}
.player-txt{
    position: relative;
    top: -5px;
    
    padding: 15px;
    
}
.player-txt p{
    font-size: 14px;
    font-weight: 300;
    color: dimgray;
}
.player img{
    height: 54%;
    margin-left: 15px;
    margin-top: 15px;
}


/* media query */
@media screen and (max-width: 600px)  {
    header{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}