
/* common style */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #222831;
    /* background-color: #E5E5E5; */
}
.btn{
    text-decoration: none;
    color: #FFFFFF;
    background-color:  #ef4746;
    transition: transform 0.3s ease;
}
.btn:hover{
    transform: scale(1.25);
} 

/* header style */
header{
    background-color: #0f1f42;
    display: flex;
   
}
.header-txt{
    width: 50%;
    margin-top: 157px;
    margin-left: 156PX;
}
.header-txt h1{
    font-size: 64px;
    line-height: 80px;
    font-weight: 700;
    color:#FFFFFF ;
    width: 485px;
    height: 230px;
}
.header-txt a{
    font-size: 24px;
    padding: 10px 24px;
    display: flex;
    width: 168px;
    height: 44px;
}
.fa-arrow-right{
    margin-top: 5px;
    margin-left: 10px;
}
.header-img{
    width: 50%;
}
header img{
    width: 556px;
    height: 438px;
    margin-top: 100px;
    margin-bottom: 86px;
    margin-right: 140px;
    transition: transform 0.5s ease;
}
header img:hover {
    transform: scale(1.25);
}

/* player section */
.player-section{
    width: 1000px;
    margin-left: 180px;
    margin-top: 70px;
    margin-bottom: 100px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.player{
    width: 330px;
    height: 474px;
    /* background-color: #FFFFFF; */
    background-color: #1a1e25;
}
.player-txt{
    position: relative;
    top: -5px;
    padding: 15px;
}
.player-txt h3{
    color: #FFFFFF;
}
.player-txt p{
    font-size: 14px;
    font-weight: 300;
    color: dimgray;
}
.player img{
    height: 54%;  
    transition: transform 0.3s ease; 
}
.player-img{
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 15px;
    overflow: hidden;
}
.player img:hover{
    transform: scale(1.5);
}


/* shedule and time section */
.shedule-section{
    display: flex;
    margin-bottom: 100px;
}

/* team section */
.team{
    width: 50%;
}
.teams{
    display: flex;
    justify-content: center;
}
.team-section{
    border: 0.5px solid gray;
    width: 80%;
    margin-left: 110px;
    background-color: #1a1e25;
}
.team-header{
    background-color: #ef4746;
    margin-top: -18px;
    height: 50px;
}
.team-header h3{
    color: white;
    padding-top: 5px;
    padding-left: 15px;
}
.teams p{
   
    font-size: 24px;
    color: white;
    margin-left: 40px;
    padding-top: 70px;
}
.league {
    text-align: center;
}
.league h2{
    color: #ef4746;
}
.txt-color{
    font-size: 106%;
    color: #ef4746;
    font-weight: 300;
}

/* table section */

.point-table{
    width: 50%;
    height: 500px;
}
table{
     border:  .5px solid gray;
     width: 80%;
     background-color: #1a1e25;
     color: white;
     margin-left: 40px;
}
table, th, td {
    border-bottom: .5px solid gray;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
  }
.bg-color{
    background-color: #ef4746;
}

/* contact section */

.contact{
    text-align: center;
}
.contact h2{
    font-size: 40px;
    color: white;
} 
.contact-input{
    display: flex;
}
.contact-input input{
    width: 100%;
    height: 56px;
    padding: 13px 18px;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    outline: none;
    font-size: 24px;
    background-color: #222831;
}
.contact .btn{
    padding: 10px 24px;
    line-height: 6em;
}
.input-name{
    margin: 0 30px;
}
/* footer section */
footer{
    margin-top: 80px;
}
.footer-container{
    margin-left: 470px;
}
footer img{
    width: 470px;
}
.social{
    margin-top: ;
    margin-left: 130px;
}
.fab{
    margin: 10px;
    color: grey;
    font-size: 24px;
    background-color: #1a1e25;
    border-radius: 50%;
}
.copyright{
    line-height: 3em;
     margin-left: 120px;
}
/* media query */
/* mobile responive */


@media screen and (max-width: 688px)  {
    body{
        margin: 0;
    }
    /* header responsive */
    header{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .header-txt h1{
        width: 270px;
        height: 138px;
        margin-top: -80px;
        margin-left: -130px;
        font-size: 30px;
    }
    .header-txt .btn{
        position: relative;
        top: 40px;
        left: -130px;
    }
    header img{
        width: 329px;
        height: 259.17px;
        position: relative;
        left: 25px;
    }
    /* player responsive */
    .player-section{
        margin-left: 15px;
        width: 340px;
    }
    .players{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            
            width: 340px;
    }
    .player{
        width: 330px;
        height: 474px;
    }
    /* shedule responsive */
    .shedule-section{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .team-section{
        width: 330px;
        margin-left: 20px;
    }
    .teams img{
        height: 130px;
    }
    table{
        margin-top: 30px;
        margin-left: 20px;
    }
     /* contact respomsive */
     .contact-section{
         position: relative;
         top: 30px;
         left: -20px;
         width: 350px;
     }
     .contact-section h2{
         font-size: 26px;
         margin-left: 55px;
     }
     .contact-section .btn{
         position: relative;
         left: 25px;
     }
     .contact-input{
         display: grid;
         grid-template-columns: repeat(1,1fr);
     }
    
    .footer-container{
        position: relative;
        left: -400px;
    }
    footer img{
        width: 200px;
        
    }
}